<!DOCTYPE html>
<html>
    <head>
        <title>Boo!</title>
    </head>
    <body>
        <input type="text" name="script" id="script_input">
        <input type="submit" value="exec_" onclick="done()">
        <div id="secret_"></div>

        <script>
            let secret = document.getElementById("secret_");
            let input_ = document.getElementById("script_input");
            function done() {
                eval(input_.value);
            }
        </script>
    </body>
</html>