<!DOCTYPE html>
<html>
    <head>
        <title>Boo!</title>
    </head>
    <body>
        <textarea id="script_input" placeholder="Write Your Script"></textarea></br>
        <input type="submit" value="execute" onclick="done()">
        <div id="secret_"></div>

        <script>
            let secret = document.getElementById("secret_");
            let input_ = document.getElementById("script_input");
            function done() {
                eval(input_.value);
            }
        </script>
    </body>
</html>